<% if current_user != @user %>
  <div id="follow_form">
  <% if current_user.following?(@user) %> <!-- If the other user is in the current user's following_users list then show the unfollow page. -->
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>