<%= form_for(current_user.following_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div> <!-- hidden_field_tagを指定することで、フォローするユーザーの値をIDとして持つ、入力欄としては表示されないtype="hidden"の<input>タグが作成されます。-->
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>